@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    background-color: #0d3966;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img {
    max-width: 220px;
}

.menu-direita {
    margin-right: 220px;
}

.menu-esquerdo {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 220px;
}


.banner {
    background: rgb(36, 132, 228);
    background: linear-gradient(180deg, rgba(36, 132, 228, 1) 43%, rgba(97, 166, 236, 1) 67%, rgba(170, 207, 244, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.banner-direito {
    margin: 20px;
    margin-right: 220px;
}

.banner-direito img {
    max-width: 400px;
    object-fit: contain;
}

.banner-esquerdo {
    margin-left: 220px;
    margin-right: 120px;
}

.tit-banner {
    color: #0d3966;
    font-size: 60px;
    font-weight: 800;
}

.txt-banner {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.btn-banner {
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    background: #25d366;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
    cursor: pointer;
}

.servicos {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.tit-servicos {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;

}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding-bottom: 80px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
}

.card img {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 150px;
    
}

.depoimentos {
    background-color: #e2dddd;
    height: 300px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.tit-depoimentos {
    display: flex;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
}

.txt-depoimentos {
    margin-left: 400px;
    margin-right: 400px;
    font-size: 25px;
    font-style: italic;
}

.call-to-action {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centro-call{
    display: flex;
    background-color: #2484e4;
    height: 100px;
    align-items: center;
    justify-items: center;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 80px;
}

.call-direita{
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.call-esquerda{
    display: flex;
    align-items: center;
    padding-right: 50px;
    font-size: 18px;
}



.btn-call {
    cursor: pointer;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
    background:#2484e4 ;
    font-size: 18px;
    font-weight: 700;
}


.rodape {
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #0d3966;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}